@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pulsing-circle {
  animation: pulse-radius 1.5s infinite ease-in-out;
}

@keyframes pulse-radius {
  0% {
    r: 200; /* Radio inicial */
  }
  50% {
    r: 250; /* Radio aumentado en el punto máximo de la animación */
  }
  100% {
    r: 200; /* Volver al radio inicial */
  }
}
